.page-footer {
  text-align: center;

  &__heading {
    padding: 0 20px;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 45px;
    color: @gray-blue--20;
  }

  &__item {
    margin-bottom: 33px;
    padding: 0 20px;
  }

  &__title {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 15px;
    color: @gray-blue--20;
  }

  &__info {
    text-decoration: none;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 300;
    color: @pink;
  }

  &__logo {
    margin: 0 auto;
    margin-bottom: 48px;
  }

  &__social-list {
    margin-bottom: 40px;
    font-size: 0;
  }
}