// .toggler {
//   position: absolute;
//   right: 20px;
//   top: 20px;
//   display: flex;
//   align-items: center;
//   width: 50px;
//   height: 24px;
//   user-select: none;

//   > span {
//     display: inline-block;
//     width: 100%;
//     height: 4px;
//     background: #fff;
//     position: relative;
//     transition: background .3s .5s;

//     &:before,
//     &:after {
//       width: 100%;
//       height: 4px;
//       background: #fff;
//       position: absolute;
//       left: 0;
//       content: '';
//       transform-origin: 50% 50%;
//       transition: top .3s .6s, transform .3s;
//     }

//     &:before {
//       top: 10px;
//     }

//     &:after {
//       top: -10px;
//     }
//   }

//   &--close {
//     > span {
//       transition: background .3s 0;
//       background: transparent;

//       &:before,
//       &:after {
//         transition: top .3s, transform .3s .5s;
//         top: 0;
//       }

//       &:before {
//         transform: rotate3d(0, 0, 1, 45deg);
//       }

//       &:after {
//         transform: rotate3d(0, 0, 1, -45deg);
//       }
//     }
//   }
// }
.toggler {
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 20px;

  width: 50px;
  height: 24px;

  user-select: none;

  align-items: center;
  @media (min-width: @screen-md) {
    top: 44px;
  }
  @media (min-width: @screen-lg) {
    display: none;
  }
  > span {
    position: relative;

    display: inline-block;

    width: 100%;
    height: 4px;

    background: @white;
    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;

      width: 100%;
      height: 4px;

      transition: top .3s .6s, transform .3s;
      transform-origin: 50% 50%;

      background: @white;
    }
    &:before {
      top: 10px;
    }
    &:after {
      top: -10px;
    }
  }
  &:hover > span,
  &:hover > span:before,
  &:hover > span:after {
    background: @pink;
  }
  &:active > span {
    opacity: .3;
    background: @pink;
  }
  &:active > span:before,
  &:active > span:after {
    background: @pink;
  }
  &--close {
    > span {
      transition: background .3s 0;

      background: transparent;
      &:before,
      &:after {
        top: 0;

        transition: top .3s, transform .3s .5s;
      }
      &:before {
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
}