.btn {
  border: none;
  margin-top: 48px;
  width: 100%;
  font-size: 18px;
  line-height: 1.67;
  background: #2aab6d;
  border-radius: 2px;
  padding: 20px;
  text-transform: uppercase;
  color: @white;
  font-weight: 700;
  margin-bottom: 42px;
  cursor: pointer;

  .tablet({
    margin-bottom: 100px;
    width: 300px;
  });

  &__text {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 120%;
    text-transform: uppercase;
    margin-bottom: 60px;

    .tablet({
      width: 175px;
      float: right;
      margin-top: 73px;
      margin-bottom: 0;
    });
  }

  &__star {
    color: @pink;
  }
}