.field-text {
  display: block;
  margin: 0 auto;

  &:last-child {
    margin-bottom: 20px;

    .tablet({
      margin-bottom: 65px;
    });
  }

  &__padtop19 {
    padding: 16px 21px;
    padding-top: 19px;
  }

  &__name {
    display: block;
    font-size: 14px;
    line-height: 1.29;
    color: @pink;
    font-weight: 400;
    padding-left: 24px;
    text-transform: uppercase;
    margin-bottom: 13px;

    &--text-center {
      text-align: center;
      margin: 0;
      padding: 0;
      margin-bottom: 25px;
    }
  }

  input {
    outline: none;
    border: none;
    font-family: @font-family;
    width: 100%;
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    border: 2px solid @border-gray;
    margin-bottom: 24px;
    &::-webkit-input-placeholder { color: @gray-blue--20;; opacity: 1; }
    &::-moz-placeholder { color: @gray-blue--20;; opacity: 1; }
    &:-moz-placeholder { color: @gray-blue--20;; opacity: 1; }
    &:-ms-input-placeholder { color: @gray-blue--20;; opacity: 1; }

    &:hover {
      border-color: @gray-blue--20;
    }

    &:active {
      border-color: @pink;
    }
  }

  &--counter {
    position: relative;

    input {

      &:hover {
        border-color: @border-gray;
      }

      &:active {
        border-color: @border-gray;
      }
    }

    .tablet({
      width:240px;
      margin: 0;
      display: inline-block;
      vertical-align: top;
    });
  }

  &--width270 {
    margin-bottom: 40px;

    input {

      .tablet({
        border-top: none;
        border-bottom: none;
        margin-bottom: 0;
      });
    }

    .tablet({
      width: 250px;
      margin-top: 40px;
    });
  }

  &__travel {
    text-align: center;
    background: @white;
    padding: 16px 21px;
    padding-top: 19px;

    &--pad20 {

      .tablet({
        padding: 19px 21px;
        padding-top: 20px;
      });
    }
  }

  &__plus {
    position: absolute;
    right: 0;
    top: 0;
    width: 61px;
    height: 63px;
    cursor: pointer;
    border: 2px solid @border-gray;

    &:hover {
      border-color: @gray-blue--20;
    }

    &:active {
      background: @gray-blue--20;

      &:after,
      &:before {
        background: @white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 18px;
      left: 28px;
      height: 27px;
      width: 3px;
      background: @gray-blue--20;
    }

    &:before {
      content: '';
      position: absolute;
      top: 30px;
      left: 16px;
      width: 27px;
      height: 3px;
      background: @gray-blue--20;
    }

    &--border {

      .tablet({
        border-top: 2px solid @border-gray;
        border-bottom: 2px solid @border-gray;
      });
    }
  }

  &__minus {
    position: absolute;
    top: 0;
    left: 0;
    width: 61px;
    height: 63px;
    cursor: pointer;
    border: 2px solid @border-gray;

    &:hover {
      border-color: @gray-blue--20;
    }

    &:active {
      background: @gray-blue--20;

      &:after,
      &:before {
        background: @white;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 30px;
      left: 16px;
      width: 27px;
      height: 3px;
      background: @gray-blue--20;
    }

    &--border {

      .tablet({
        border-top: 2px solid @border-gray;
        border-bottom: 2px solid @border-gray;
      });
    }
  }

  &--date {

    input {

      background: @white;

      &:hover {
        border-color: @border-gray;
      }

      &:active {
        border-color: @border-gray;
      }
    }

    .tablet({
      display: inline-block;
      vertical-align: top;
      width: 240px;
      margin-right: 20px;
    });
  }

  &--input-bg {

    .tablet({
      margin: 0;
      width: 240px;
    });

    input {
      background: @bg-gray;

      &:hover {
        border-color: @border-gray;
      }

      &:active {
        border-color: @border-gray;
      }
    }
  }

  &--margin {
    margin: 0;

    input {

      .tablet({
        width: 300px;
      });
    }

    .tablet({
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      margin-right: 40px;
      width: 300px;
    });
  }

  &__delete {
    display: none;

    .tablet({
      display: inline-block;
      vertical-align: middle;
      font-size: 14px;
      line-height: 120%;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: -6px;

      &:hover {
        color: @pink;
        text-decoration: underline;
      }

      &:active {
        color: @pink;
        opacity: 0.3;
      }
    });
  }
}