.map {
  position: relative;
  width: 100%;
  height: 200px;
  background: url(../img/map.jpg) no-repeat 50% 98%;

  &:after {
    content: '';
    position: absolute;
    height: 75px;
    width: 100%;
    top: -33px;
    left: 0;
    background: url(../img/footer-mask.png) no-repeat 50% 0;
  }
}