.slider {
  margin-bottom: 125px;

  &__list {
    text-align: center;
    padding: 0 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 2.14;
    color: @gray-blue--20;
    font-weight: 400;
    margin: 0 auto;
    margin-bottom: 35px;

    p {
      order: 2;
    }
  }

  &__heading {
    order: 1;
    font-size: 18px;
    line-height: 1.67;
    color: @gray;
    font-weight: 700;
  }
}