.page-header {
  text-align: center;
  position: relative;
  background: url(../img/header-bg.jpg) no-repeat scroll 50% -37%;

  &__inner {
    padding: 0 20px;
    margin: 0 auto;
    height: 460px;
    overflow: hidden;

    &--img-hand {
      background: url(../img/hand.png) no-repeat scroll 50% 120%;
    }
  }

  &__name {
    margin: 0;
    padding: 0;
    padding-top: 90px;
    font-size: @font-size--h1;
    line-height: 1.2;
    font-weight: 300;
    color: @white;
  }

  &--bg-pos {
    background: url(../img/header-bg.jpg) no-repeat scroll 50% 20.5%;
  }

  &__inner {

    &--height {
      height: 237px;
    }
  }
}