.social-links {

  &__item {
    position: relative;
    color: transparent;
    font: 0/0 a;
    display: inline-block;
    width: 51px;
    height: 51px;
    border: 2px solid @border-gray;
    background: @white;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;

    &--twitter {
      position: absolute;
      top: 16px;
      left: 16px;
      display: block;
      width: 17px;
      height: 15px;
      background: url(../img/social-twitter.png) no-repeat 50% 0;
    }

    &--facebook {
      position: absolute;
      top: 13px;
      left: 19px;
      display: block;
      width: 9px;
      height: 19px;
      background: url(../img/social-facebook.png) no-repeat 50% 0;
    }

    &--play {
      position: absolute;
      top: 17px;
      left: 18px;
      display: block;
      width: 15px;
      height: 14px;
      background: url(../img/social-play.png) no-repeat 50% 0;
    }
  }
}