.table {
  display: block;
  position: relative;
  width: 100%;
  background: #f2f2f2;
  padding-top: 130px;
  margin-bottom: 50px;

  .tablet({
    padding: 0 40px;
    padding-top: 110px;
    padding-bottom: 70px;
    margin-bottom: 55px;
  });

  &:before {
    content: '';
    position: absolute;
    background: url(../img/triangle-white.svg) no-repeat 50% 0;
    height: 95px;
    width: 100%;
    top: 0;
    left: 0;
  }

  .slider-pagination {
    width: 140px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
    padding-bottom: 47px;

    .tablet({
      display: none;
    });

    &__item {
      display: inline-block;
      vertical-align: top;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background-color: @pagination-gray;
      margin-right: 16px;

      &--active {
        width: 12px;
        height: 12px;
        border: 3px solid @gray-blue--20;
        background: #fff;
        border-radius: 50%;
      }
    }
  }
}

.order {
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  margin-bottom: 40px;

  .tablet({
    width: 100%;
    margin: 0;
  });

  tbody {
    display: block;

    .tablet({
      display: table-row-group;
    });
  }

  &__item {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .tablet({
      display: table-row;
    });
  }

  &__empty {
    display: none;

    .tablet ({
      display: table-cell;
      width: 155px;
      background: #f2f2f2;
      padding: 0;
    });
  }

  &__header {
    display: block;
    padding: 15px 0;
    position: relative;
    text-align: center;
    background: @gray-blue--20;
    color: @white;
    overflow: hidden;
    border-right: 2px solid @border-gray;
    border-left: 2px solid @border-gray;

      .tablet({
        display: table-cell;
        width: 155px;
        border-right: 2px solid @border-gray;

        &:last-child {
          border-right: none;
        }
      });
  }

  &__flag {
    position: absolute;
    width: 100px;
    height: 30px;
    top: 10px;
    left: -24px;
    background: @pink;
    color: @white;
    font-size: 14px;
    line-height: 2.14;
    transform: rotate(-45deg);
  }

  &__title {
    text-transform: uppercase;
    display: block;
  }

  &__price {
    font-size: 24px;
    line-height: 1.25;
    font-weight: 300;
  }

  &__feature {
    display: block;
    position: relative;
    padding: 15px;
    border: none;

    .tablet({
      display: table-cell;
      border: 2px solid @border-gray;
    });
  }

  &__content {
    font-size: 14px;
    line-height: 2.14;
    color: @gray-blue--20;
    text-transform: uppercase;

    .tablet({
      text-transform: none;
    });
  }

  &__check {
    position: absolute;
    width: 14px;
    height: 26px;
    border: 2px solid #3dc644;
    transform: rotate(46deg);
    border-top-color: transparent;
    border-left-color: transparent;
    right: 50%;
    bottom: 23px;
    margin-right: -7px;
    overflow: hidden;
    text-indent: -1000px;

    .tablet({
    });
  }

  &__cross {
    position: absolute;
    right: 50%;
    bottom: 18px;
    margin-right: -14px;
    width: 28px;
    height: 26px;
    font-size: 0;
    text-indent: -1000px;

    .tablet({
    });

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 11px;
      right: -3px;
      width: 34px;
      height: 3px;
      background: #f25b26;
    }

    &:after {
      transform: rotate(-45deg);
    }

    &:before {
      transform: rotate(45deg);
    }
  }
}