h1 {
  font-size: @font-size--h1;
  line-height: 1.2;
  font-weight: 300;
  color: @white;
}

h3 {
  color: @gray;
  font-size: @font-size--h3;
  line-height: 1.33;
  font-weight: 700;
}

strong {
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
}